@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

div {
  -ms-overflow-style: none; /* Edge, Internet Explorer */
  scrollbar-width: none; /* Firefox */
  overflow-y: scroll;
}

/* hides scrollbars while allowing to scroll */
div::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.page-container {
  @apply respondive-width mx-auto flex flex-col p-4 sm:p-8;
}
.header-container {
  @apply fixed z-50 flex h-20 w-screen items-center justify-center bg-primary-300;
}
.header-content {
  @apply respondive-width flex h-full items-center justify-between px-4 sm:px-8;
}
.footer-container {
  @apply flex h-20 w-screen items-center justify-center bg-brown-600;
}
.footer-content {
  @apply respondive-width flex h-full items-center px-4 sm:px-8;
}
.respondive-width {
  @apply w-full md:w-10/12;
}

/* gap-8  */
